.camisetas_container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}
.camisetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;

}

.camisetas_titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;

}

.camiseta_img {
    display: inline-block;
    width: 500px;
    height: auto;
}


