.contact-form {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  button[type="submit"] {
    @include button-style();
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }

}
.contacto_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 10px;

}

.ubicacion_container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 40px;
}

.contact-form,
.ubicacion_container {
  flex: 1;
}