.main-section-title,
.main-section-description {
  @include flex-center(column);
  margin-top: 1em;
  text-align: center;
}

#carrusel {
  max-width: 1500px;
  margin: 0 auto;
}

.carousel-inner {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px $shadow-color;
  }
}

img {
  object-fit: cover;
  width: 100%;
}