@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin button-style($bg: $primary-color, $color: $secondary-color) {
  background-color: $bg;
  color: $color;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
}